.card {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    border: none;
    margin-bottom: 30px;
}

.header {
    text-align: center;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    color: #fff;
    background-color: #227dc7;
    border-color: #2176bd;
}

.header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.header-metas {
    text-align: center;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    color: #fff;
    background-color: #227dc7;
    border-color: #2176bd;
}

.header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-01 .card-body {
    position: relative;
    padding-top: 40px;
}

.card-01 .badge-box {
    position: absolute;
    top: -20px;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    text-align: center;
}

.card-01 .badge-box i {
    background: #DFC717;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}

.card-01.height-fix {
    height: 455px;
    overflow: hidden;
}

.card-01.height-fix .card-img-top {
    width: auto !important;
}
