.media {
    background: #fff;
    position: relative;
    margin-bottom: 15px;
}

.media img {
    width: 200px;
    margin: 0;
    height: 136px;
}

.media-body {
    border: 1px solid #bcbcbc;
    border-left: 0;
    height: 136px;
}

.media .price {
    float: left;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    color: #4765AB;
}

.media .price small {
    display: block;
    font-size: 17px;
    color: #232323;
}

.media .stats {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.media .stats span {
    float: left;
    margin-right: 10px;
    font-size: 15px;
}

.media .stats span i {
    margin-right: 7px;
    color: #4765AB;
}

.media .address {
    float: left;
    width: 100%;
    font-size: 14px;
    margin-top: 5px;
    color: #888;
}

.media .fav-box {
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 4px;
    color: #E74C3C;
}

.map-box {
    background-color: #A3CCFF;
}
